<div class="container">
  <ul class="nav nav-tabs">
    <li><%= link_to "Home", root_path %></li>
    <li>
      <a class="" data-toggle="modal" data-target="#myModal" data-backdrop="false">
        Login
      </a>
    </li>

    <% if current_user %>
      <li><%= link_to "Survey", survey_path($start_question) %></li>
    <% else %>
      <li> <%= link_to "Survey", "#myModal", "data-toggle" => "modal" , "data-backdrop" => "false" %> </li>
    <% end %>
    <li><%= link_to "Logout", logout_path, method: :delete %></li>
    <li id="nav-results"><%= link_to "View Results", results_path %></li>

  </ul>

  <div class="modal fade" id="myModal">
    <%= render "partials/login_modal" %>
  </div>

  <script>
    $(document).ready(function(){
      function show_modal() {
        $('#myModal').modal('show');
      }
    });
  </script>

</div>
<br>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name do %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= msg %>
  <% end %>
<% end %>
