<div class="container" id="cnt1">
    <div class="col-md-3">
    </div>

    <div class="col-md-6" id="panel1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="fa fa-question-circle"></span> <%= @question.question %></h3>
            </div>

          <%= form_for @answers do |f| %>
          <%= f.hidden_field :counter, :value => @question.id %>
          <div class="panel-body two-col">
                <div class="row">
                    <div class="col-md-6">
                        <div class="well well-sm">
                            <div class="checkbox">
                                <%= f.radio_button :answer, 'Yes' %>
                                <%= f.label :answer_yes, 'Yes', :value => 'Yes' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="well well-sm">
                            <div class="checkbox">
                                <%= f.radio_button :answer, class:"No" %>
                                <%= label :answer_yes, 'No', :value => 'No' %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="well well-sm margin-bottom-none">
                            <div class="checkbox">
                              <%= f.radio_button :answer, class:"NA" %>
                              <%= label :answer_yes, "I don't know", :value => 'NA' %>
                            </div>
                        </div>
                    </div>
              </div>
                <hr />
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-success btn-sm btn-block">
                          <%= f.submit "Submit", class:"fa fa-send" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
