
<div class="page-mast-header">
  <div class="container">
    <h1>Survey</h1>
  </div>
</div>

<div class="container" id="">
    <div class="col-md-3">
    </div>

    <div class="col-md-6" id="panel1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="fa fa-question-circle"></span> <%= @question.question %></h3>
            </div>

          <%= form_for @answers do |f| %>
          <%= f.hidden_field :question_id, :value => @question.id %>
          <div class="panel-body two-col">
                <div class="row">
                    <div class="col-md-6">
                        <div class="well well-sm yes">
                            <div class="checkbox">
                                <%= f.radio_button :answer, 'Yes' %>
                                <%= f.label :answer_yes, 'Yes', :value => 'Yes' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="well well-sm">
                            <div class="checkbox">
                                <%= f.radio_button :answer, "No" %>
                                <%= label :answer_yes, 'No', :value => 'No' %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="well well-sm margin-bottom-none">
                            <div class="checkbox">
                              <%= f.radio_button :answer, "NA" %>
                              <%= label :answer_yes, "I don't know", :value => 'NA' %>
                            </div>
                        </div>
                    </div>
              </div>
                <hr />
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <% if current_user %>
                          <%= f.submit "Submit", class: "btn btn-success btn-sm btn-block" %>
                        <% else %>
                        <%= link_to "Submit", "#myModal", class: "btn btn-success btn-sm btn-block", "data-toggle" => "modal" %>
                        <% end %>
                    </div>
          <% end %>
                    <div class="col-md-6" id="results">
                        <%= button_to "View Results", results_path, :method => "get", class: "btn btn-info btn-sm btn-block" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3 class="panel-title">
              Would you like to sign in through your Tumblr account or continue as a guest?
            </h3>
          </div>
          <div class="modal-footer" id="modal-continue">
            <%= button_to "Login with Tumblr", tumblr_login_path, class: "btn btn-default" %>
            <%= button_to "Continue as Guest", {:controller => "sessions", :action => "create", :survey_flag => true}, class: "btn btn-default" %>
          </div>

        </div>
      </div>
    </div>

    <script>
      $(document).ready(function(){
        function show_modal() {
          $('#myModal').modal('show');
        }
      });
    </script>
</div>
