<%= render "partials/navbar" %>

<div class="page-mast-header">
  <div class="container">
    <h1>Related Podcasts</h1>
    <p>
      Remember you are not alone. Mental Health is a common issue that affects everyone. The good news is that it is treatable. Click below to listen to podcasts from people who have dealt with the issues that you are facing.
    </p>

  </div>
</div>

<div class="container">
      <div class="row" >
      <div class="col-md-12">

    <% shown_title = "first" %>
    <% @episodes.each do |episode| %>
      <ul id="row-<%="#{episode[0]}"%>">

        <% if episode[0] != shown_title%>
          <h2><%= episode[0] %></h2>
          <% shown_title = episode[0] %>
        <% end %>

        <h4 style="display:inline-block"><%= episode[2] %></h4></b> &nbsp&nbsp(from show  <b><%= episode[3] %></b>)
        <div class="inline-button", float="right">
          <%= link_to "listen to podcast", episode[5], target: "blank", class: "btn btn-info btn-sm" %>
          <%= link_to "link to mp3", episode[4], target: "blank", class: "btn btn-info btn-sm" %>
        </div>
      </ul>
    <% end %>

  </div>
</div>

</div>
